html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: 'Wubba Lubba Dub Dub', arial;
    color: transparent;
    text-shadow: 0 0 1px yellow; 
    font-size: 60px;
    flex-wrap: wrap;
}

.logo{
    text-align: center;
    background-repeat: repeat;
    padding: 0.5em;
}

#character-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Wubba Lubba Dub Dub', arial;
}

#character-bar span {
    display: block;
    padding: 5px 10px;
    font-size: 25px;
    color: yellow;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#character-bar span:hover {
    transform: scale(1.1);
    color: yellow;
    background-color: black;
}


html, body {
    margin: 2;
    padding: 2;
    background-color: grey;
    margin-bottom: 20px;
    background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/9531.jpg");
}

.characterInfo{
    height: 500px;
    font-size: 35px;
    padding: 50px;
    text-align: center;
    font-family: 'Wubba Lubba Dub Dub', arial;
    color: yellow;
}

#image{
    width: 300px;
    height: 350px;
    border-radius: 8em;
}

input[type="submit"], button {
    background-color: yellow;
    color: black;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Wubba Lubba Dub Dub', arial;
    cursor: pointer;
}

input[type="text"] {
    font-size: 3.5vh;
    font-family: 'Wubba Lubba Dub Dub', arial;
}

a:hover {
    background-color: white;
    color: black;
}
