html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: 'Wubba Lubba Dub Dub', arial;
    color: transparent;
    text-shadow: 0 0 1px yellow; 
    font-size: 60px;
}

.logo{
    text-align: center;
    background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/9531.jpg");
    background-repeat: repeat;
    padding: 0.5em;
}

#character-bar {
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: bottom;
    padding-bottom: 3vh;
    padding-top: 3vh;
    font-family: 'Wubba Lubba Dub Dub', arial;
    text-decoration-color: white;
    font-size: 23px;
}

#character-bar span {
    height: 40%;
    width: 20vw;
    padding: 1%;
    display: flex;
    justify-content: center;
    padding-bottom: 3vh;
    padding-top: 3vh;
    align-items: center;
    border-radius: 2em;
    border: 1px solid w;
    color: white;
}

html, body {
    margin: 2;
    padding: 2;
    background-color: grey;
    background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/9531.jpg");
}

.characterInfo{
    height: 500px;
    font-size: 25px;
    padding: 50px;
    text-align: center;
    font-family: 'Wubba Lubba Dub Dub', arial;
    color: whitesmoke;
}

#image{
    width: 300px;
    height: 350px;
    border-radius: 8em;
}

input[type="submit"], button {
    background-color: yellow;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Wubba Lubba Dub Dub', arial;
}

input[type="text"] {
    font-size: 2.5vh;
    font-family: 'Wubba Lubba Dub Dub', arial;
}

a:hover {
    background-color: white;
    color: black;
}

.previous {
    color: yellow;
    font-size: 2vh;
    font-family: 'Wubba Lubba Dub Dub', arial;
}

.next {
    color: yellow;
    font-size: 2vh;
    font-family: 'Wubba Lubba Dub Dub', arial;
}